# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Environnements virtuels
# =========================
venv/
env/
.venv/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE (VS Code, etc.)
# =========================
.vscode/
.idea/

# =========================
# Logs
# =========================
*.log

# =========================
# Large / sensitive data (IMPORTANT)
# =========================
data/raw/*
!data/raw/*.csv

# =========================
# Secrets / config
# =========================
.env



